[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.5"
asgiref = "==3.7.2"
psycopg2-binary = "==2.9.7"
sqlparse = "==0.4.4"
typing-extensions = "==4.8.0"

[dev-packages]

[requires]
python_version = "3.10"
