<!DOCTYPE html>
ssets
<html lang="en">
ssets

ssets
<head>
ssets
  <meta charset="utf-8">
ssets
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
ssets

ssets
  <title>Charts / ApexCharts - NiceAdmin Bootstrap Template</title>
ssets
  <meta content="" name="description">
ssets
  <meta content="" name="keywords">
ssets

ssets
  <!-- Favicons -->
ssets
  <link href="assets/img/favicon.png" rel="icon">
ssets
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
ssets

ssets
  <!-- Google Fonts -->
ssets
  <link href="https://fonts.gstatic.com" rel="preconnect">
ssets
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
ssets

ssets
  <!-- Vendor CSS Files -->
ssets
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
ssets
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
ssets
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
ssets
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
ssets
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
ssets
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
ssets
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
ssets

ssets
  <!-- Template Main CSS File -->
ssets
  <link href="assets/css/style.css" rel="stylesheet">
ssets

ssets
  <!-- =======================================================
ssets
  * Template Name: NiceAdmin
ssets
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
ssets
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
ssets
  * Author: BootstrapMade.com
ssets
  * License: https://bootstrapmade.com/license/
ssets
  ======================================================== -->
ssets
</head>
ssets

ssets
<body>
ssets

ssets
  <!-- ======= Header ======= -->
ssets
  <header id="header" class="header fixed-top d-flex align-items-center">
ssets

ssets
    <div class="d-flex align-items-center justify-content-between">
ssets
      <a href="index.html" class="logo d-flex align-items-center">
ssets
        <img src="assets/img/logo.png" alt="">
ssets
        <span class="d-none d-lg-block">NiceAdmin</span>
ssets
      </a>
ssets
      <i class="bi bi-list toggle-sidebar-btn"></i>
ssets
    </div><!-- End Logo -->
ssets

ssets
    <div class="search-bar">
ssets
      <form class="search-form d-flex align-items-center" method="POST" action="#">
ssets
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
ssets
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
ssets
      </form>
ssets
    </div><!-- End Search Bar -->
ssets

ssets
    <nav class="header-nav ms-auto">
ssets
      <ul class="d-flex align-items-center">
ssets

ssets
        <li class="nav-item d-block d-lg-none">
ssets
          <a class="nav-link nav-icon search-bar-toggle " href="#">
ssets
            <i class="bi bi-search"></i>
ssets
          </a>
ssets
        </li><!-- End Search Icon-->
ssets

ssets
        <li class="nav-item dropdown">
ssets

ssets
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
ssets
            <i class="bi bi-bell"></i>
ssets
            <span class="badge bg-primary badge-number">4</span>
ssets
          </a><!-- End Notification Icon -->
ssets

ssets
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
ssets
            <li class="dropdown-header">
ssets
              You have 4 new notifications
ssets
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="notification-item">
ssets
              <i class="bi bi-exclamation-circle text-warning"></i>
ssets
              <div>
ssets
                <h4>Lorem Ipsum</h4>
ssets
                <p>Quae dolorem earum veritatis oditseno</p>
ssets
                <p>30 min. ago</p>
ssets
              </div>
ssets
            </li>
ssets

ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="notification-item">
ssets
              <i class="bi bi-x-circle text-danger"></i>
ssets
              <div>
ssets
                <h4>Atque rerum nesciunt</h4>
ssets
                <p>Quae dolorem earum veritatis oditseno</p>
ssets
                <p>1 hr. ago</p>
ssets
              </div>
ssets
            </li>
ssets

ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="notification-item">
ssets
              <i class="bi bi-check-circle text-success"></i>
ssets
              <div>
ssets
                <h4>Sit rerum fuga</h4>
ssets
                <p>Quae dolorem earum veritatis oditseno</p>
ssets
                <p>2 hrs. ago</p>
ssets
              </div>
ssets
            </li>
ssets

ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="notification-item">
ssets
              <i class="bi bi-info-circle text-primary"></i>
ssets
              <div>
ssets
                <h4>Dicta reprehenderit</h4>
ssets
                <p>Quae dolorem earum veritatis oditseno</p>
ssets
                <p>4 hrs. ago</p>
ssets
              </div>
ssets
            </li>
ssets

ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets
            <li class="dropdown-footer">
ssets
              <a href="#">Show all notifications</a>
ssets
            </li>
ssets

ssets
          </ul><!-- End Notification Dropdown Items -->
ssets

ssets
        </li><!-- End Notification Nav -->
ssets

ssets
        <li class="nav-item dropdown">
ssets

ssets
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
ssets
            <i class="bi bi-chat-left-text"></i>
ssets
            <span class="badge bg-success badge-number">3</span>
ssets
          </a><!-- End Messages Icon -->
ssets

ssets
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
ssets
            <li class="dropdown-header">
ssets
              You have 3 new messages
ssets
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="message-item">
ssets
              <a href="#">
ssets
                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
ssets
                <div>
ssets
                  <h4>Maria Hudson</h4>
ssets
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
ssets
                  <p>4 hrs. ago</p>
ssets
                </div>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="message-item">
ssets
              <a href="#">
ssets
                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
ssets
                <div>
ssets
                  <h4>Anna Nelson</h4>
ssets
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
ssets
                  <p>6 hrs. ago</p>
ssets
                </div>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="message-item">
ssets
              <a href="#">
ssets
                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
ssets
                <div>
ssets
                  <h4>David Muldon</h4>
ssets
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
ssets
                  <p>8 hrs. ago</p>
ssets
                </div>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="dropdown-footer">
ssets
              <a href="#">Show all messages</a>
ssets
            </li>
ssets

ssets
          </ul><!-- End Messages Dropdown Items -->
ssets

ssets
        </li><!-- End Messages Nav -->
ssets

ssets
        <li class="nav-item dropdown pe-3">
ssets

ssets
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
ssets
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
ssets
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
ssets
          </a><!-- End Profile Iamge Icon -->
ssets

ssets
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
ssets
            <li class="dropdown-header">
ssets
              <h6>Kevin Anderson</h6>
ssets
              <span>Web Designer</span>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li>
ssets
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
ssets
                <i class="bi bi-person"></i>
ssets
                <span>My Profile</span>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li>
ssets
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
ssets
                <i class="bi bi-gear"></i>
ssets
                <span>Account Settings</span>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li>
ssets
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
ssets
                <i class="bi bi-question-circle"></i>
ssets
                <span>Need Help?</span>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li>
ssets
              <a class="dropdown-item d-flex align-items-center" href="#">
ssets
                <i class="bi bi-box-arrow-right"></i>
ssets
                <span>Sign Out</span>
ssets
              </a>
ssets
            </li>
ssets

ssets
          </ul><!-- End Profile Dropdown Items -->
ssets
        </li><!-- End Profile Nav -->
ssets

ssets
      </ul>
ssets
    </nav><!-- End Icons Navigation -->
ssets

ssets
  </header><!-- End Header -->
ssets

ssets
  <!-- ======= Sidebar ======= -->
ssets
  <aside id="sidebar" class="sidebar">
ssets

ssets
    <ul class="sidebar-nav" id="sidebar-nav">
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="index.html">
ssets
          <i class="bi bi-grid"></i>
ssets
          <span>Dashboard</span>
ssets
        </a>
ssets
      </li><!-- End Dashboard Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="components-alerts.html">
ssets
              <i class="bi bi-circle"></i><span>Alerts</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-accordion.html">
ssets
              <i class="bi bi-circle"></i><span>Accordion</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-badges.html">
ssets
              <i class="bi bi-circle"></i><span>Badges</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-breadcrumbs.html">
ssets
              <i class="bi bi-circle"></i><span>Breadcrumbs</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-buttons.html">
ssets
              <i class="bi bi-circle"></i><span>Buttons</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-cards.html">
ssets
              <i class="bi bi-circle"></i><span>Cards</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-carousel.html">
ssets
              <i class="bi bi-circle"></i><span>Carousel</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-list-group.html">
ssets
              <i class="bi bi-circle"></i><span>List group</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-modal.html">
ssets
              <i class="bi bi-circle"></i><span>Modal</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-tabs.html">
ssets
              <i class="bi bi-circle"></i><span>Tabs</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-pagination.html">
ssets
              <i class="bi bi-circle"></i><span>Pagination</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-progress.html">
ssets
              <i class="bi bi-circle"></i><span>Progress</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-spinners.html">
ssets
              <i class="bi bi-circle"></i><span>Spinners</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-tooltips.html">
ssets
              <i class="bi bi-circle"></i><span>Tooltips</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Components Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="forms-elements.html">
ssets
              <i class="bi bi-circle"></i><span>Form Elements</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="forms-layouts.html">
ssets
              <i class="bi bi-circle"></i><span>Form Layouts</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="forms-editors.html">
ssets
              <i class="bi bi-circle"></i><span>Form Editors</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="forms-validation.html">
ssets
              <i class="bi bi-circle"></i><span>Form Validation</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Forms Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="tables-general.html">
ssets
              <i class="bi bi-circle"></i><span>General Tables</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="tables-data.html">
ssets
              <i class="bi bi-circle"></i><span>Data Tables</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Tables Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link " data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="charts-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="charts-chartjs.html">
ssets
              <i class="bi bi-circle"></i><span>Chart.js</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="charts-apexcharts.html" class="active">
ssets
              <i class="bi bi-circle"></i><span>ApexCharts</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="charts-echarts.html">
ssets
              <i class="bi bi-circle"></i><span>ECharts</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Charts Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-gem"></i><span>Icons</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="icons-bootstrap.html">
ssets
              <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="icons-remix.html">
ssets
              <i class="bi bi-circle"></i><span>Remix Icons</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="icons-boxicons.html">
ssets
              <i class="bi bi-circle"></i><span>Boxicons</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Icons Nav -->
ssets

ssets
      <li class="nav-heading">Pages</li>
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="users-profile.html">
ssets
          <i class="bi bi-person"></i>
ssets
          <span>Profile</span>
ssets
        </a>
ssets
      </li><!-- End Profile Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-faq.html">
ssets
          <i class="bi bi-question-circle"></i>
ssets
          <span>F.A.Q</span>
ssets
        </a>
ssets
      </li><!-- End F.A.Q Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-contact.html">
ssets
          <i class="bi bi-envelope"></i>
ssets
          <span>Contact</span>
ssets
        </a>
ssets
      </li><!-- End Contact Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-register.html">
ssets
          <i class="bi bi-card-list"></i>
ssets
          <span>Register</span>
ssets
        </a>
ssets
      </li><!-- End Register Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-login.html">
ssets
          <i class="bi bi-box-arrow-in-right"></i>
ssets
          <span>Login</span>
ssets
        </a>
ssets
      </li><!-- End Login Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-error-404.html">
ssets
          <i class="bi bi-dash-circle"></i>
ssets
          <span>Error 404</span>
ssets
        </a>
ssets
      </li><!-- End Error 404 Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-blank.html">
ssets
          <i class="bi bi-file-earmark"></i>
ssets
          <span>Blank</span>
ssets
        </a>
ssets
      </li><!-- End Blank Page Nav -->
ssets

ssets
    </ul>
ssets

ssets
  </aside><!-- End Sidebar-->
ssets

ssets
  <main id="main" class="main">
ssets

ssets
    <div class="pagetitle">
ssets
      <h1>ApexCharts</h1>
ssets
      <nav>
ssets
        <ol class="breadcrumb">
ssets
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
ssets
          <li class="breadcrumb-item">Charts</li>
ssets
          <li class="breadcrumb-item active">ApexCharts</li>
ssets
        </ol>
ssets
      </nav>
ssets
    </div><!-- End Page Title -->
ssets

ssets
    <p>ApexCharts Examples. You can check the <a href="https://apexcharts.com/javascript-chart-demos/" target="_blank">official website</a> for more examples.</p>
ssets

ssets
    <section class="section">
ssets
      <div class="row">
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Line Chart</h5>
ssets

ssets
              <!-- Line Chart -->
ssets
              <div id="lineChart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  new ApexCharts(document.querySelector("#lineChart"), {
ssets
                    series: [{
ssets
                      name: "Desktops",
ssets
                      data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
ssets
                    }],
ssets
                    chart: {
ssets
                      height: 350,
ssets
                      type: 'line',
ssets
                      zoom: {
ssets
                        enabled: false
ssets
                      }
ssets
                    },
ssets
                    dataLabels: {
ssets
                      enabled: false
ssets
                    },
ssets
                    stroke: {
ssets
                      curve: 'straight'
ssets
                    },
ssets
                    grid: {
ssets
                      row: {
ssets
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
ssets
                        opacity: 0.5
ssets
                      },
ssets
                    },
ssets
                    xaxis: {
ssets
                      categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
ssets
                    }
ssets
                  }).render();
ssets
                });
ssets
              </script>
ssets
              <!-- End Line Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Area Chart</h5>
ssets

ssets
              <!-- Area Chart -->
ssets
              <div id="areaChart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  const series = {
ssets
                    "monthDataSeries1": {
ssets
                      "prices": [
ssets
                        8107.85,
ssets
                        8128.0,
ssets
                        8122.9,
ssets
                        8165.5,
ssets
                        8340.7,
ssets
                        8423.7,
ssets
                        8423.5,
ssets
                        8514.3,
ssets
                        8481.85,
ssets
                        8487.7,
ssets
                        8506.9,
ssets
                        8626.2,
ssets
                        8668.95,
ssets
                        8602.3,
ssets
                        8607.55,
ssets
                        8512.9,
ssets
                        8496.25,
ssets
                        8600.65,
ssets
                        8881.1,
ssets
                        9340.85
ssets
                      ],
ssets
                      "dates": [
ssets
                        "13 Nov 2017",
ssets
                        "14 Nov 2017",
ssets
                        "15 Nov 2017",
ssets
                        "16 Nov 2017",
ssets
                        "17 Nov 2017",
ssets
                        "20 Nov 2017",
ssets
                        "21 Nov 2017",
ssets
                        "22 Nov 2017",
ssets
                        "23 Nov 2017",
ssets
                        "24 Nov 2017",
ssets
                        "27 Nov 2017",
ssets
                        "28 Nov 2017",
ssets
                        "29 Nov 2017",
ssets
                        "30 Nov 2017",
ssets
                        "01 Dec 2017",
ssets
                        "04 Dec 2017",
ssets
                        "05 Dec 2017",
ssets
                        "06 Dec 2017",
ssets
                        "07 Dec 2017",
ssets
                        "08 Dec 2017"
ssets
                      ]
ssets
                    },
ssets
                    "monthDataSeries2": {
ssets
                      "prices": [
ssets
                        8423.7,
ssets
                        8423.5,
ssets
                        8514.3,
ssets
                        8481.85,
ssets
                        8487.7,
ssets
                        8506.9,
ssets
                        8626.2,
ssets
                        8668.95,
ssets
                        8602.3,
ssets
                        8607.55,
ssets
                        8512.9,
ssets
                        8496.25,
ssets
                        8600.65,
ssets
                        8881.1,
ssets
                        9040.85,
ssets
                        8340.7,
ssets
                        8165.5,
ssets
                        8122.9,
ssets
                        8107.85,
ssets
                        8128.0
ssets
                      ],
ssets
                      "dates": [
ssets
                        "13 Nov 2017",
ssets
                        "14 Nov 2017",
ssets
                        "15 Nov 2017",
ssets
                        "16 Nov 2017",
ssets
                        "17 Nov 2017",
ssets
                        "20 Nov 2017",
ssets
                        "21 Nov 2017",
ssets
                        "22 Nov 2017",
ssets
                        "23 Nov 2017",
ssets
                        "24 Nov 2017",
ssets
                        "27 Nov 2017",
ssets
                        "28 Nov 2017",
ssets
                        "29 Nov 2017",
ssets
                        "30 Nov 2017",
ssets
                        "01 Dec 2017",
ssets
                        "04 Dec 2017",
ssets
                        "05 Dec 2017",
ssets
                        "06 Dec 2017",
ssets
                        "07 Dec 2017",
ssets
                        "08 Dec 2017"
ssets
                      ]
ssets
                    },
ssets
                    "monthDataSeries3": {
ssets
                      "prices": [
ssets
                        7114.25,
ssets
                        7126.6,
ssets
                        7116.95,
ssets
                        7203.7,
ssets
                        7233.75,
ssets
                        7451.0,
ssets
                        7381.15,
ssets
                        7348.95,
ssets
                        7347.75,
ssets
                        7311.25,
ssets
                        7266.4,
ssets
                        7253.25,
ssets
                        7215.45,
ssets
                        7266.35,
ssets
                        7315.25,
ssets
                        7237.2,
ssets
                        7191.4,
ssets
                        7238.95,
ssets
                        7222.6,
ssets
                        7217.9,
ssets
                        7359.3,
ssets
                        7371.55,
ssets
                        7371.15,
ssets
                        7469.2,
ssets
                        7429.25,
ssets
                        7434.65,
ssets
                        7451.1,
ssets
                        7475.25,
ssets
                        7566.25,
ssets
                        7556.8,
ssets
                        7525.55,
ssets
                        7555.45,
ssets
                        7560.9,
ssets
                        7490.7,
ssets
                        7527.6,
ssets
                        7551.9,
ssets
                        7514.85,
ssets
                        7577.95,
ssets
                        7592.3,
ssets
                        7621.95,
ssets
                        7707.95,
ssets
                        7859.1,
ssets
                        7815.7,
ssets
                        7739.0,
ssets
                        7778.7,
ssets
                        7839.45,
ssets
                        7756.45,
ssets
                        7669.2,
ssets
                        7580.45,
ssets
                        7452.85,
ssets
                        7617.25,
ssets
                        7701.6,
ssets
                        7606.8,
ssets
                        7620.05,
ssets
                        7513.85,
ssets
                        7498.45,
ssets
                        7575.45,
ssets
                        7601.95,
ssets
                        7589.1,
ssets
                        7525.85,
ssets
                        7569.5,
ssets
                        7702.5,
ssets
                        7812.7,
ssets
                        7803.75,
ssets
                        7816.3,
ssets
                        7851.15,
ssets
                        7912.2,
ssets
                        7972.8,
ssets
                        8145.0,
ssets
                        8161.1,
ssets
                        8121.05,
ssets
                        8071.25,
ssets
                        8088.2,
ssets
                        8154.45,
ssets
                        8148.3,
ssets
                        8122.05,
ssets
                        8132.65,
ssets
                        8074.55,
ssets
                        7952.8,
ssets
                        7885.55,
ssets
                        7733.9,
ssets
                        7897.15,
ssets
                        7973.15,
ssets
                        7888.5,
ssets
                        7842.8,
ssets
                        7838.4,
ssets
                        7909.85,
ssets
                        7892.75,
ssets
                        7897.75,
ssets
                        7820.05,
ssets
                        7904.4,
ssets
                        7872.2,
ssets
                        7847.5,
ssets
                        7849.55,
ssets
                        7789.6,
ssets
                        7736.35,
ssets
                        7819.4,
ssets
                        7875.35,
ssets
                        7871.8,
ssets
                        8076.5,
ssets
                        8114.8,
ssets
                        8193.55,
ssets
                        8217.1,
ssets
                        8235.05,
ssets
                        8215.3,
ssets
                        8216.4,
ssets
                        8301.55,
ssets
                        8235.25,
ssets
                        8229.75,
ssets
                        8201.95,
ssets
                        8164.95,
ssets
                        8107.85,
ssets
                        8128.0,
ssets
                        8122.9,
ssets
                        8165.5,
ssets
                        8340.7,
ssets
                        8423.7,
ssets
                        8423.5,
ssets
                        8514.3,
ssets
                        8481.85,
ssets
                        8487.7,
ssets
                        8506.9,
ssets
                        8626.2
ssets
                      ],
ssets
                      "dates": [
ssets
                        "02 Jun 2017",
ssets
                        "05 Jun 2017",
ssets
                        "06 Jun 2017",
ssets
                        "07 Jun 2017",
ssets
                        "08 Jun 2017",
ssets
                        "09 Jun 2017",
ssets
                        "12 Jun 2017",
ssets
                        "13 Jun 2017",
ssets
                        "14 Jun 2017",
ssets
                        "15 Jun 2017",
ssets
                        "16 Jun 2017",
ssets
                        "19 Jun 2017",
ssets
                        "20 Jun 2017",
ssets
                        "21 Jun 2017",
ssets
                        "22 Jun 2017",
ssets
                        "23 Jun 2017",
ssets
                        "27 Jun 2017",
ssets
                        "28 Jun 2017",
ssets
                        "29 Jun 2017",
ssets
                        "30 Jun 2017",
ssets
                        "03 Jul 2017",
ssets
                        "04 Jul 2017",
ssets
                        "05 Jul 2017",
ssets
                        "06 Jul 2017",
ssets
                        "07 Jul 2017",
ssets
                        "10 Jul 2017",
ssets
                        "11 Jul 2017",
ssets
                        "12 Jul 2017",
ssets
                        "13 Jul 2017",
ssets
                        "14 Jul 2017",
ssets
                        "17 Jul 2017",
ssets
                        "18 Jul 2017",
ssets
                        "19 Jul 2017",
ssets
                        "20 Jul 2017",
ssets
                        "21 Jul 2017",
ssets
                        "24 Jul 2017",
ssets
                        "25 Jul 2017",
ssets
                        "26 Jul 2017",
ssets
                        "27 Jul 2017",
ssets
                        "28 Jul 2017",
ssets
                        "31 Jul 2017",
ssets
                        "01 Aug 2017",
ssets
                        "02 Aug 2017",
ssets
                        "03 Aug 2017",
ssets
                        "04 Aug 2017",
ssets
                        "07 Aug 2017",
ssets
                        "08 Aug 2017",
ssets
                        "09 Aug 2017",
ssets
                        "10 Aug 2017",
ssets
                        "11 Aug 2017",
ssets
                        "14 Aug 2017",
ssets
                        "16 Aug 2017",
ssets
                        "17 Aug 2017",
ssets
                        "18 Aug 2017",
ssets
                        "21 Aug 2017",
ssets
                        "22 Aug 2017",
ssets
                        "23 Aug 2017",
ssets
                        "24 Aug 2017",
ssets
                        "28 Aug 2017",
ssets
                        "29 Aug 2017",
ssets
                        "30 Aug 2017",
ssets
                        "31 Aug 2017",
ssets
                        "01 Sep 2017",
ssets
                        "04 Sep 2017",
ssets
                        "05 Sep 2017",
ssets
                        "06 Sep 2017",
ssets
                        "07 Sep 2017",
ssets
                        "08 Sep 2017",
ssets
                        "11 Sep 2017",
ssets
                        "12 Sep 2017",
ssets
                        "13 Sep 2017",
ssets
                        "14 Sep 2017",
ssets
                        "15 Sep 2017",
ssets
                        "18 Sep 2017",
ssets
                        "19 Sep 2017",
ssets
                        "20 Sep 2017",
ssets
                        "21 Sep 2017",
ssets
                        "22 Sep 2017",
ssets
                        "25 Sep 2017",
ssets
                        "26 Sep 2017",
ssets
                        "27 Sep 2017",
ssets
                        "28 Sep 2017",
ssets
                        "29 Sep 2017",
ssets
                        "03 Oct 2017",
ssets
                        "04 Oct 2017",
ssets
                        "05 Oct 2017",
ssets
                        "06 Oct 2017",
ssets
                        "09 Oct 2017",
ssets
                        "10 Oct 2017",
ssets
                        "11 Oct 2017",
ssets
                        "12 Oct 2017",
ssets
                        "13 Oct 2017",
ssets
                        "16 Oct 2017",
ssets
                        "17 Oct 2017",
ssets
                        "18 Oct 2017",
ssets
                        "19 Oct 2017",
ssets
                        "23 Oct 2017",
ssets
                        "24 Oct 2017",
ssets
                        "25 Oct 2017",
ssets
                        "26 Oct 2017",
ssets
                        "27 Oct 2017",
ssets
                        "30 Oct 2017",
ssets
                        "31 Oct 2017",
ssets
                        "01 Nov 2017",
ssets
                        "02 Nov 2017",
ssets
                        "03 Nov 2017",
ssets
                        "06 Nov 2017",
ssets
                        "07 Nov 2017",
ssets
                        "08 Nov 2017",
ssets
                        "09 Nov 2017",
ssets
                        "10 Nov 2017",
ssets
                        "13 Nov 2017",
ssets
                        "14 Nov 2017",
ssets
                        "15 Nov 2017",
ssets
                        "16 Nov 2017",
ssets
                        "17 Nov 2017",
ssets
                        "20 Nov 2017",
ssets
                        "21 Nov 2017",
ssets
                        "22 Nov 2017",
ssets
                        "23 Nov 2017",
ssets
                        "24 Nov 2017",
ssets
                        "27 Nov 2017",
ssets
                        "28 Nov 2017"
ssets
                      ]
ssets
                    }
ssets
                  }
ssets
                  new ApexCharts(document.querySelector("#areaChart"), {
ssets
                    series: [{
ssets
                      name: "STOCK ABC",
ssets
                      data: series.monthDataSeries1.prices
ssets
                    }],
ssets
                    chart: {
ssets
                      type: 'area',
ssets
                      height: 350,
ssets
                      zoom: {
ssets
                        enabled: false
ssets
                      }
ssets
                    },
ssets
                    dataLabels: {
ssets
                      enabled: false
ssets
                    },
ssets
                    stroke: {
ssets
                      curve: 'straight'
ssets
                    },
ssets
                    subtitle: {
ssets
                      text: 'Price Movements',
ssets
                      align: 'left'
ssets
                    },
ssets
                    labels: series.monthDataSeries1.dates,
ssets
                    xaxis: {
ssets
                      type: 'datetime',
ssets
                    },
ssets
                    yaxis: {
ssets
                      opposite: true
ssets
                    },
ssets
                    legend: {
ssets
                      horizontalAlign: 'left'
ssets
                    }
ssets
                  }).render();
ssets
                });
ssets
              </script>
ssets
              <!-- End Area Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Column Chart</h5>
ssets

ssets
              <!-- Column Chart -->
ssets
              <div id="columnChart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  new ApexCharts(document.querySelector("#columnChart"), {
ssets
                    series: [{
ssets
                      name: 'Net Profit',
ssets
                      data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
ssets
                    }, {
ssets
                      name: 'Revenue',
ssets
                      data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
ssets
                    }, {
ssets
                      name: 'Free Cash Flow',
ssets
                      data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
ssets
                    }],
ssets
                    chart: {
ssets
                      type: 'bar',
ssets
                      height: 350
ssets
                    },
ssets
                    plotOptions: {
ssets
                      bar: {
ssets
                        horizontal: false,
ssets
                        columnWidth: '55%',
ssets
                        endingShape: 'rounded'
ssets
                      },
ssets
                    },
ssets
                    dataLabels: {
ssets
                      enabled: false
ssets
                    },
ssets
                    stroke: {
ssets
                      show: true,
ssets
                      width: 2,
ssets
                      colors: ['transparent']
ssets
                    },
ssets
                    xaxis: {
ssets
                      categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
ssets
                    },
ssets
                    yaxis: {
ssets
                      title: {
ssets
                        text: '$ (thousands)'
ssets
                      }
ssets
                    },
ssets
                    fill: {
ssets
                      opacity: 1
ssets
                    },
ssets
                    tooltip: {
ssets
                      y: {
ssets
                        formatter: function(val) {
ssets
                          return "$ " + val + " thousands"
ssets
                        }
ssets
                      }
ssets
                    }
ssets
                  }).render();
ssets
                });
ssets
              </script>
ssets
              <!-- End Column Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Bar Chart</h5>
ssets

ssets
              <!-- Bar Chart -->
ssets
              <div id="barChart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  new ApexCharts(document.querySelector("#barChart"), {
ssets
                    series: [{
ssets
                      data: [400, 430, 448, 470, 540, 580, 690, 1100, 1200, 1380]
ssets
                    }],
ssets
                    chart: {
ssets
                      type: 'bar',
ssets
                      height: 350
ssets
                    },
ssets
                    plotOptions: {
ssets
                      bar: {
ssets
                        borderRadius: 4,
ssets
                        horizontal: true,
ssets
                      }
ssets
                    },
ssets
                    dataLabels: {
ssets
                      enabled: false
ssets
                    },
ssets
                    xaxis: {
ssets
                      categories: ['South Korea', 'Canada', 'United Kingdom', 'Netherlands', 'Italy', 'France', 'Japan',
ssets
                        'United States', 'China', 'Germany'
ssets
                      ],
ssets
                    }
ssets
                  }).render();
ssets
                });
ssets
              </script>
ssets
              <!-- End Bar Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Pie Chart</h5>
ssets

ssets
              <!-- Pie Chart -->
ssets
              <div id="pieChart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  new ApexCharts(document.querySelector("#pieChart"), {
ssets
                    series: [44, 55, 13, 43, 22],
ssets
                    chart: {
ssets
                      height: 350,
ssets
                      type: 'pie',
ssets
                      toolbar: {
ssets
                        show: true
ssets
                      }
ssets
                    },
ssets
                    labels: ['Team A', 'Team B', 'Team C', 'Team D', 'Team E']
ssets
                  }).render();
ssets
                });
ssets
              </script>
ssets
              <!-- End Pie Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Donut Chart</h5>
ssets

ssets
              <!-- Donut Chart -->
ssets
              <div id="donutChart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  new ApexCharts(document.querySelector("#donutChart"), {
ssets
                    series: [44, 55, 13, 43, 22],
ssets
                    chart: {
ssets
                      height: 350,
ssets
                      type: 'donut',
ssets
                      toolbar: {
ssets
                        show: true
ssets
                      }
ssets
                    },
ssets
                    labels: ['Team A', 'Team B', 'Team C', 'Team D', 'Team E'],
ssets
                  }).render();
ssets
                });
ssets
              </script>
ssets
              <!-- End Donut Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Radar Chart</h5>
ssets

ssets
              <!-- Radar Chart -->
ssets
              <div id="radarChart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  new ApexCharts(document.querySelector("#radarChart"), {
ssets
                    series: [{
ssets
                      name: 'Series 1',
ssets
                      data: [80, 50, 30, 40, 100, 20],
ssets
                    }],
ssets
                    chart: {
ssets
                      height: 350,
ssets
                      type: 'radar',
ssets
                    },
ssets
                    xaxis: {
ssets
                      categories: ['January', 'February', 'March', 'April', 'May', 'June']
ssets
                    }
ssets
                  }).render();
ssets
                });
ssets
              </script>
ssets
              <!-- End Radar Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Polar Area Chart</h5>
ssets

ssets
              <!-- Polar Area Chart -->
ssets
              <div id="polarAreaChart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  new ApexCharts(document.querySelector("#polarAreaChart"), {
ssets
                    series: [14, 23, 21, 17, 15, 10, 12, 17, 21],
ssets
                    chart: {
ssets
                      type: 'polarArea',
ssets
                      height: 350,
ssets
                      toolbar: {
ssets
                        show: true
ssets
                      }
ssets
                    },
ssets
                    stroke: {
ssets
                      colors: ['#fff']
ssets
                    },
ssets
                    fill: {
ssets
                      opacity: 0.8
ssets
                    }
ssets
                  }).render();
ssets
                });
ssets
              </script>
ssets
              <!-- End Polar Area Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Radial Bar Chart</h5>
ssets

ssets
              <!-- Radial Bar Chart -->
ssets
              <div id="radialBarChart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  new ApexCharts(document.querySelector("#radialBarChart"), {
ssets
                    series: [44, 55, 67, 83],
ssets
                    chart: {
ssets
                      height: 350,
ssets
                      type: 'radialBar',
ssets
                      toolbar: {
ssets
                        show: true
ssets
                      }
ssets
                    },
ssets
                    plotOptions: {
ssets
                      radialBar: {
ssets
                        dataLabels: {
ssets
                          name: {
ssets
                            fontSize: '22px',
ssets
                          },
ssets
                          value: {
ssets
                            fontSize: '16px',
ssets
                          },
ssets
                          total: {
ssets
                            show: true,
ssets
                            label: 'Total',
ssets
                            formatter: function(w) {
ssets
                              // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
ssets
                              return 249
ssets
                            }
ssets
                          }
ssets
                        }
ssets
                      }
ssets
                    },
ssets
                    labels: ['Apples', 'Oranges', 'Bananas', 'Berries'],
ssets
                  }).render();
ssets
                });
ssets
              </script>
ssets
              <!-- End Radial Bar Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Bubble Chart</h5>
ssets

ssets
              <!-- Bubble Chart -->
ssets
              <div id="bubbleChart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  function generateData(baseval, count, yrange) {
ssets
                    var i = 0;
ssets
                    var series = [];
ssets
                    while (i < count) {
ssets
                      var x = Math.floor(Math.random() * (750 - 1 + 1)) + 1;;
ssets
                      var y = Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;
ssets
                      var z = Math.floor(Math.random() * (75 - 15 + 1)) + 15;
ssets
                      series.push([x, y, z]);
ssets
                      baseval += 86400000;
ssets
                      i++;
ssets
                    }
ssets
                    return series;
ssets
                  }
ssets
                  new ApexCharts(document.querySelector("#bubbleChart"), {
ssets
                    series: [{
ssets
                        name: 'Bubble1',
ssets
                        data: generateData(new Date('11 Feb 2017 GMT').getTime(), 20, {
ssets
                          min: 10,
ssets
                          max: 60
ssets
                        })
ssets
                      },
ssets
                      {
ssets
                        name: 'Bubble2',
ssets
                        data: generateData(new Date('11 Feb 2017 GMT').getTime(), 20, {
ssets
                          min: 10,
ssets
                          max: 60
ssets
                        })
ssets
                      },
ssets
                      {
ssets
                        name: 'Bubble3',
ssets
                        data: generateData(new Date('11 Feb 2017 GMT').getTime(), 20, {
ssets
                          min: 10,
ssets
                          max: 60
ssets
                        })
ssets
                      },
ssets
                      {
ssets
                        name: 'Bubble4',
ssets
                        data: generateData(new Date('11 Feb 2017 GMT').getTime(), 20, {
ssets
                          min: 10,
ssets
                          max: 60
ssets
                        })
ssets
                      }
ssets
                    ],
ssets
                    chart: {
ssets
                      height: 333,
ssets
                      type: 'bubble',
ssets
                    },
ssets
                    dataLabels: {
ssets
                      enabled: false
ssets
                    },
ssets
                    fill: {
ssets
                      opacity: 0.8
ssets
                    },
ssets
                    xaxis: {
ssets
                      tickAmount: 12,
ssets
                      type: 'category',
ssets
                    },
ssets
                    yaxis: {
ssets
                      max: 70
ssets
                    }
ssets
                  }).render();
ssets
                });
ssets
              </script>
ssets
              <!-- End Bubble Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
      </div>
ssets
    </section>
ssets

ssets
  </main><!-- End #main -->
ssets

ssets
  <!-- ======= Footer ======= -->
ssets
  <footer id="footer" class="footer">
ssets
    <div class="copyright">
ssets
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
ssets
    </div>
ssets
    <div class="credits">
ssets
      <!-- All the links in the footer should remain intact. -->
ssets
      <!-- You can delete the links only if you purchased the pro version. -->
ssets
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
ssets
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
ssets
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
ssets
    </div>
ssets
  </footer><!-- End Footer -->
ssets

ssets
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
ssets

ssets
  <!-- Vendor JS Files -->
ssets
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
ssets
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
ssets
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
ssets
  <script src="assets/vendor/echarts/echarts.min.js"></script>
ssets
  <script src="assets/vendor/quill/quill.min.js"></script>
ssets
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
ssets
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
ssets
  <script src="assets/vendor/php-email-form/validate.js"></script>
ssets

ssets
  <!-- Template Main JS File -->
ssets
  <script src="assets/js/main.js"></script>
ssets

ssets
</body>
ssets

ssets
</html>
ssets
