<!DOCTYPE html>
ssets
<html lang="en">
ssets

ssets
<head>
ssets
  <meta charset="utf-8">
ssets
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
ssets

ssets
  <title>Charts / ECharts - NiceAdmin Bootstrap Template</title>
ssets
  <meta content="" name="description">
ssets
  <meta content="" name="keywords">
ssets

ssets
  <!-- Favicons -->
ssets
  <link href="assets/img/favicon.png" rel="icon">
ssets
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
ssets

ssets
  <!-- Google Fonts -->
ssets
  <link href="https://fonts.gstatic.com" rel="preconnect">
ssets
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
ssets

ssets
  <!-- Vendor CSS Files -->
ssets
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
ssets
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
ssets
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
ssets
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
ssets
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
ssets
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
ssets
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
ssets

ssets
  <!-- Template Main CSS File -->
ssets
  <link href="assets/css/style.css" rel="stylesheet">
ssets

ssets
  <!-- =======================================================
ssets
  * Template Name: NiceAdmin
ssets
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
ssets
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
ssets
  * Author: BootstrapMade.com
ssets
  * License: https://bootstrapmade.com/license/
ssets
  ======================================================== -->
ssets
</head>
ssets

ssets
<body>
ssets

ssets
  <!-- ======= Header ======= -->
ssets
  <header id="header" class="header fixed-top d-flex align-items-center">
ssets

ssets
    <div class="d-flex align-items-center justify-content-between">
ssets
      <a href="index.html" class="logo d-flex align-items-center">
ssets
        <img src="assets/img/logo.png" alt="">
ssets
        <span class="d-none d-lg-block">NiceAdmin</span>
ssets
      </a>
ssets
      <i class="bi bi-list toggle-sidebar-btn"></i>
ssets
    </div><!-- End Logo -->
ssets

ssets
    <div class="search-bar">
ssets
      <form class="search-form d-flex align-items-center" method="POST" action="#">
ssets
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
ssets
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
ssets
      </form>
ssets
    </div><!-- End Search Bar -->
ssets

ssets
    <nav class="header-nav ms-auto">
ssets
      <ul class="d-flex align-items-center">
ssets

ssets
        <li class="nav-item d-block d-lg-none">
ssets
          <a class="nav-link nav-icon search-bar-toggle " href="#">
ssets
            <i class="bi bi-search"></i>
ssets
          </a>
ssets
        </li><!-- End Search Icon-->
ssets

ssets
        <li class="nav-item dropdown">
ssets

ssets
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
ssets
            <i class="bi bi-bell"></i>
ssets
            <span class="badge bg-primary badge-number">4</span>
ssets
          </a><!-- End Notification Icon -->
ssets

ssets
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
ssets
            <li class="dropdown-header">
ssets
              You have 4 new notifications
ssets
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="notification-item">
ssets
              <i class="bi bi-exclamation-circle text-warning"></i>
ssets
              <div>
ssets
                <h4>Lorem Ipsum</h4>
ssets
                <p>Quae dolorem earum veritatis oditseno</p>
ssets
                <p>30 min. ago</p>
ssets
              </div>
ssets
            </li>
ssets

ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="notification-item">
ssets
              <i class="bi bi-x-circle text-danger"></i>
ssets
              <div>
ssets
                <h4>Atque rerum nesciunt</h4>
ssets
                <p>Quae dolorem earum veritatis oditseno</p>
ssets
                <p>1 hr. ago</p>
ssets
              </div>
ssets
            </li>
ssets

ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="notification-item">
ssets
              <i class="bi bi-check-circle text-success"></i>
ssets
              <div>
ssets
                <h4>Sit rerum fuga</h4>
ssets
                <p>Quae dolorem earum veritatis oditseno</p>
ssets
                <p>2 hrs. ago</p>
ssets
              </div>
ssets
            </li>
ssets

ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="notification-item">
ssets
              <i class="bi bi-info-circle text-primary"></i>
ssets
              <div>
ssets
                <h4>Dicta reprehenderit</h4>
ssets
                <p>Quae dolorem earum veritatis oditseno</p>
ssets
                <p>4 hrs. ago</p>
ssets
              </div>
ssets
            </li>
ssets

ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets
            <li class="dropdown-footer">
ssets
              <a href="#">Show all notifications</a>
ssets
            </li>
ssets

ssets
          </ul><!-- End Notification Dropdown Items -->
ssets

ssets
        </li><!-- End Notification Nav -->
ssets

ssets
        <li class="nav-item dropdown">
ssets

ssets
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
ssets
            <i class="bi bi-chat-left-text"></i>
ssets
            <span class="badge bg-success badge-number">3</span>
ssets
          </a><!-- End Messages Icon -->
ssets

ssets
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
ssets
            <li class="dropdown-header">
ssets
              You have 3 new messages
ssets
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="message-item">
ssets
              <a href="#">
ssets
                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
ssets
                <div>
ssets
                  <h4>Maria Hudson</h4>
ssets
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
ssets
                  <p>4 hrs. ago</p>
ssets
                </div>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="message-item">
ssets
              <a href="#">
ssets
                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
ssets
                <div>
ssets
                  <h4>Anna Nelson</h4>
ssets
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
ssets
                  <p>6 hrs. ago</p>
ssets
                </div>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="message-item">
ssets
              <a href="#">
ssets
                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
ssets
                <div>
ssets
                  <h4>David Muldon</h4>
ssets
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
ssets
                  <p>8 hrs. ago</p>
ssets
                </div>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="dropdown-footer">
ssets
              <a href="#">Show all messages</a>
ssets
            </li>
ssets

ssets
          </ul><!-- End Messages Dropdown Items -->
ssets

ssets
        </li><!-- End Messages Nav -->
ssets

ssets
        <li class="nav-item dropdown pe-3">
ssets

ssets
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
ssets
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
ssets
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
ssets
          </a><!-- End Profile Iamge Icon -->
ssets

ssets
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
ssets
            <li class="dropdown-header">
ssets
              <h6>Kevin Anderson</h6>
ssets
              <span>Web Designer</span>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li>
ssets
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
ssets
                <i class="bi bi-person"></i>
ssets
                <span>My Profile</span>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li>
ssets
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
ssets
                <i class="bi bi-gear"></i>
ssets
                <span>Account Settings</span>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li>
ssets
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
ssets
                <i class="bi bi-question-circle"></i>
ssets
                <span>Need Help?</span>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li>
ssets
              <a class="dropdown-item d-flex align-items-center" href="#">
ssets
                <i class="bi bi-box-arrow-right"></i>
ssets
                <span>Sign Out</span>
ssets
              </a>
ssets
            </li>
ssets

ssets
          </ul><!-- End Profile Dropdown Items -->
ssets
        </li><!-- End Profile Nav -->
ssets

ssets
      </ul>
ssets
    </nav><!-- End Icons Navigation -->
ssets

ssets
  </header><!-- End Header -->
ssets

ssets
  <!-- ======= Sidebar ======= -->
ssets
  <aside id="sidebar" class="sidebar">
ssets

ssets
    <ul class="sidebar-nav" id="sidebar-nav">
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="index.html">
ssets
          <i class="bi bi-grid"></i>
ssets
          <span>Dashboard</span>
ssets
        </a>
ssets
      </li><!-- End Dashboard Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="components-alerts.html">
ssets
              <i class="bi bi-circle"></i><span>Alerts</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-accordion.html">
ssets
              <i class="bi bi-circle"></i><span>Accordion</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-badges.html">
ssets
              <i class="bi bi-circle"></i><span>Badges</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-breadcrumbs.html">
ssets
              <i class="bi bi-circle"></i><span>Breadcrumbs</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-buttons.html">
ssets
              <i class="bi bi-circle"></i><span>Buttons</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-cards.html">
ssets
              <i class="bi bi-circle"></i><span>Cards</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-carousel.html">
ssets
              <i class="bi bi-circle"></i><span>Carousel</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-list-group.html">
ssets
              <i class="bi bi-circle"></i><span>List group</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-modal.html">
ssets
              <i class="bi bi-circle"></i><span>Modal</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-tabs.html">
ssets
              <i class="bi bi-circle"></i><span>Tabs</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-pagination.html">
ssets
              <i class="bi bi-circle"></i><span>Pagination</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-progress.html">
ssets
              <i class="bi bi-circle"></i><span>Progress</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-spinners.html">
ssets
              <i class="bi bi-circle"></i><span>Spinners</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-tooltips.html">
ssets
              <i class="bi bi-circle"></i><span>Tooltips</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Components Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="forms-elements.html">
ssets
              <i class="bi bi-circle"></i><span>Form Elements</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="forms-layouts.html">
ssets
              <i class="bi bi-circle"></i><span>Form Layouts</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="forms-editors.html">
ssets
              <i class="bi bi-circle"></i><span>Form Editors</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="forms-validation.html">
ssets
              <i class="bi bi-circle"></i><span>Form Validation</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Forms Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="tables-general.html">
ssets
              <i class="bi bi-circle"></i><span>General Tables</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="tables-data.html">
ssets
              <i class="bi bi-circle"></i><span>Data Tables</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Tables Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link " data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="charts-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="charts-chartjs.html">
ssets
              <i class="bi bi-circle"></i><span>Chart.js</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="charts-apexcharts.html">
ssets
              <i class="bi bi-circle"></i><span>ApexCharts</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="charts-echarts.html" class="active">
ssets
              <i class="bi bi-circle"></i><span>ECharts</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Charts Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-gem"></i><span>Icons</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="icons-bootstrap.html">
ssets
              <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="icons-remix.html">
ssets
              <i class="bi bi-circle"></i><span>Remix Icons</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="icons-boxicons.html">
ssets
              <i class="bi bi-circle"></i><span>Boxicons</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Icons Nav -->
ssets

ssets
      <li class="nav-heading">Pages</li>
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="users-profile.html">
ssets
          <i class="bi bi-person"></i>
ssets
          <span>Profile</span>
ssets
        </a>
ssets
      </li><!-- End Profile Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-faq.html">
ssets
          <i class="bi bi-question-circle"></i>
ssets
          <span>F.A.Q</span>
ssets
        </a>
ssets
      </li><!-- End F.A.Q Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-contact.html">
ssets
          <i class="bi bi-envelope"></i>
ssets
          <span>Contact</span>
ssets
        </a>
ssets
      </li><!-- End Contact Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-register.html">
ssets
          <i class="bi bi-card-list"></i>
ssets
          <span>Register</span>
ssets
        </a>
ssets
      </li><!-- End Register Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-login.html">
ssets
          <i class="bi bi-box-arrow-in-right"></i>
ssets
          <span>Login</span>
ssets
        </a>
ssets
      </li><!-- End Login Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-error-404.html">
ssets
          <i class="bi bi-dash-circle"></i>
ssets
          <span>Error 404</span>
ssets
        </a>
ssets
      </li><!-- End Error 404 Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-blank.html">
ssets
          <i class="bi bi-file-earmark"></i>
ssets
          <span>Blank</span>
ssets
        </a>
ssets
      </li><!-- End Blank Page Nav -->
ssets

ssets
    </ul>
ssets

ssets
  </aside><!-- End Sidebar-->
ssets

ssets
  <main id="main" class="main">
ssets

ssets
    <div class="pagetitle">
ssets
      <h1>ECharts</h1>
ssets
      <nav>
ssets
        <ol class="breadcrumb">
ssets
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
ssets
          <li class="breadcrumb-item">Charts</li>
ssets
          <li class="breadcrumb-item active">ECharts</li>
ssets
        </ol>
ssets
      </nav>
ssets
    </div><!-- End Page Title -->
ssets

ssets
    <p>ECharts Examples. You can check the <a href="https://echarts.apache.org/examples/en/index.html" target="_blank">official website</a> for more examples.</p>
ssets

ssets
    <section class="section">
ssets
      <div class="row">
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Line Chart</h5>
ssets

ssets
              <!-- Line Chart -->
ssets
              <div id="lineChart" style="min-height: 400px;" class="echart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  echarts.init(document.querySelector("#lineChart")).setOption({
ssets
                    xAxis: {
ssets
                      type: 'category',
ssets
                      data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
ssets
                    },
ssets
                    yAxis: {
ssets
                      type: 'value'
ssets
                    },
ssets
                    series: [{
ssets
                      data: [150, 230, 224, 218, 135, 147, 260],
ssets
                      type: 'line',
ssets
                      smooth: true
ssets
                    }]
ssets
                  });
ssets
                });
ssets
              </script>
ssets
              <!-- End Line Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Area Chart</h5>
ssets

ssets
              <!-- Area Chart -->
ssets
              <div id="areaChart" style="min-height: 400px;" class="echart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  echarts.init(document.querySelector("#areaChart")).setOption({
ssets
                    xAxis: {
ssets
                      type: 'category',
ssets
                      boundaryGap: false,
ssets
                      data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
ssets
                    },
ssets
                    yAxis: {
ssets
                      type: 'value'
ssets
                    },
ssets
                    series: [{
ssets
                      data: [820, 932, 901, 934, 1290, 1330, 1320],
ssets
                      type: 'line',
ssets
                      smooth: true,
ssets
                      areaStyle: {}
ssets
                    }]
ssets
                  });
ssets
                });
ssets
              </script>
ssets
              <!-- End Area Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Bar Chart</h5>
ssets

ssets
              <!-- Bar Chart -->
ssets
              <div id="barChart" style="min-height: 400px;" class="echart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  echarts.init(document.querySelector("#barChart")).setOption({
ssets
                    xAxis: {
ssets
                      type: 'category',
ssets
                      data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
ssets
                    },
ssets
                    yAxis: {
ssets
                      type: 'value'
ssets
                    },
ssets
                    series: [{
ssets
                      data: [120, 200, 150, 80, 70, 110, 130],
ssets
                      type: 'bar'
ssets
                    }]
ssets
                  });
ssets
                });
ssets
              </script>
ssets
              <!-- End Bar Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Vertical Bar Chart</h5>
ssets

ssets
              <!-- Vertical Bar Chart -->
ssets
              <div id="verticalBarChart" style="min-height: 400px;" class="echart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  echarts.init(document.querySelector("#verticalBarChart")).setOption({
ssets
                    title: {
ssets
                      text: 'World Population'
ssets
                    },
ssets
                    tooltip: {
ssets
                      trigger: 'axis',
ssets
                      axisPointer: {
ssets
                        type: 'shadow'
ssets
                      }
ssets
                    },
ssets
                    legend: {},
ssets
                    grid: {
ssets
                      left: '3%',
ssets
                      right: '4%',
ssets
                      bottom: '3%',
ssets
                      containLabel: true
ssets
                    },
ssets
                    xAxis: {
ssets
                      type: 'value',
ssets
                      boundaryGap: [0, 0.01]
ssets
                    },
ssets
                    yAxis: {
ssets
                      type: 'category',
ssets
                      data: ['Brazil', 'Indonesia', 'USA', 'India', 'China', 'World']
ssets
                    },
ssets
                    series: [{
ssets
                        name: '2011',
ssets
                        type: 'bar',
ssets
                        data: [18203, 23489, 29034, 104970, 131744, 630230]
ssets
                      },
ssets
                      {
ssets
                        name: '2012',
ssets
                        type: 'bar',
ssets
                        data: [19325, 23438, 31000, 121594, 134141, 681807]
ssets
                      }
ssets
                    ]
ssets
                  });
ssets
                });
ssets
              </script>
ssets
              <!-- End Vertical Bar Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Pie Chart</h5>
ssets

ssets
              <!-- Pie Chart -->
ssets
              <div id="pieChart" style="min-height: 400px;" class="echart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  echarts.init(document.querySelector("#pieChart")).setOption({
ssets
                    title: {
ssets
                      text: 'Referer of a Website',
ssets
                      subtext: 'Fake Data',
ssets
                      left: 'center'
ssets
                    },
ssets
                    tooltip: {
ssets
                      trigger: 'item'
ssets
                    },
ssets
                    legend: {
ssets
                      orient: 'vertical',
ssets
                      left: 'left'
ssets
                    },
ssets
                    series: [{
ssets
                      name: 'Access From',
ssets
                      type: 'pie',
ssets
                      radius: '50%',
ssets
                      data: [{
ssets
                          value: 1048,
ssets
                          name: 'Search Engine'
ssets
                        },
ssets
                        {
ssets
                          value: 735,
ssets
                          name: 'Direct'
ssets
                        },
ssets
                        {
ssets
                          value: 580,
ssets
                          name: 'Email'
ssets
                        },
ssets
                        {
ssets
                          value: 484,
ssets
                          name: 'Union Ads'
ssets
                        },
ssets
                        {
ssets
                          value: 300,
ssets
                          name: 'Video Ads'
ssets
                        }
ssets
                      ],
ssets
                      emphasis: {
ssets
                        itemStyle: {
ssets
                          shadowBlur: 10,
ssets
                          shadowOffsetX: 0,
ssets
                          shadowColor: 'rgba(0, 0, 0, 0.5)'
ssets
                        }
ssets
                      }
ssets
                    }]
ssets
                  });
ssets
                });
ssets
              </script>
ssets
              <!-- End Pie Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Donut Chart</h5>
ssets

ssets
              <!-- Donut Chart -->
ssets
              <div id="donutChart" style="min-height: 400px;" class="echart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  echarts.init(document.querySelector("#donutChart")).setOption({
ssets
                    tooltip: {
ssets
                      trigger: 'item'
ssets
                    },
ssets
                    legend: {
ssets
                      top: '5%',
ssets
                      left: 'center'
ssets
                    },
ssets
                    series: [{
ssets
                      name: 'Access From',
ssets
                      type: 'pie',
ssets
                      radius: ['40%', '70%'],
ssets
                      avoidLabelOverlap: false,
ssets
                      label: {
ssets
                        show: false,
ssets
                        position: 'center'
ssets
                      },
ssets
                      emphasis: {
ssets
                        label: {
ssets
                          show: true,
ssets
                          fontSize: '18',
ssets
                          fontWeight: 'bold'
ssets
                        }
ssets
                      },
ssets
                      labelLine: {
ssets
                        show: false
ssets
                      },
ssets
                      data: [{
ssets
                          value: 1048,
ssets
                          name: 'Search Engine'
ssets
                        },
ssets
                        {
ssets
                          value: 735,
ssets
                          name: 'Direct'
ssets
                        },
ssets
                        {
ssets
                          value: 580,
ssets
                          name: 'Email'
ssets
                        },
ssets
                        {
ssets
                          value: 484,
ssets
                          name: 'Union Ads'
ssets
                        },
ssets
                        {
ssets
                          value: 300,
ssets
                          name: 'Video Ads'
ssets
                        }
ssets
                      ]
ssets
                    }]
ssets
                  });
ssets
                });
ssets
              </script>
ssets
              <!-- End Donut Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Radar Chart</h5>
ssets

ssets
              <!-- Radar Chart -->
ssets
              <div id="radarChart" style="min-height: 400px;" class="echart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  echarts.init(document.querySelector("#radarChart")).setOption({
ssets
                    legend: {
ssets
                      data: ['Allocated Budget', 'Actual Spending']
ssets
                    },
ssets
                    radar: {
ssets
                      // shape: 'circle',
ssets
                      indicator: [{
ssets
                          name: 'Sales',
ssets
                          max: 6500
ssets
                        },
ssets
                        {
ssets
                          name: 'Administration',
ssets
                          max: 16000
ssets
                        },
ssets
                        {
ssets
                          name: 'Information Technology',
ssets
                          max: 30000
ssets
                        },
ssets
                        {
ssets
                          name: 'Customer Support',
ssets
                          max: 38000
ssets
                        },
ssets
                        {
ssets
                          name: 'Development',
ssets
                          max: 52000
ssets
                        },
ssets
                        {
ssets
                          name: 'Marketing',
ssets
                          max: 25000
ssets
                        }
ssets
                      ]
ssets
                    },
ssets
                    series: [{
ssets
                      name: 'Budget vs spending',
ssets
                      type: 'radar',
ssets
                      data: [{
ssets
                          value: [4200, 3000, 20000, 35000, 50000, 18000],
ssets
                          name: 'Allocated Budget'
ssets
                        },
ssets
                        {
ssets
                          value: [5000, 14000, 28000, 26000, 42000, 21000],
ssets
                          name: 'Actual Spending'
ssets
                        }
ssets
                      ]
ssets
                    }]
ssets
                  });
ssets
                });
ssets
              </script>
ssets
              <!-- End Radar Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Polar Area Chart</h5>
ssets

ssets
              <!-- Polar Area Chart -->
ssets
              <div id="polarAreaChart" style="min-height: 400px;" class="echart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  echarts.init(document.querySelector("#polarAreaChart")).setOption({
ssets
                    angleAxis: {
ssets
                      type: 'category',
ssets
                      data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
ssets
                    },
ssets
                    radiusAxis: {},
ssets
                    polar: {},
ssets
                    series: [{
ssets
                        type: 'bar',
ssets
                        data: [1, 2, 3, 4, 3, 5, 1],
ssets
                        coordinateSystem: 'polar',
ssets
                        name: 'A',
ssets
                        stack: 'a',
ssets
                        emphasis: {
ssets
                          focus: 'series'
ssets
                        }
ssets
                      },
ssets
                      {
ssets
                        type: 'bar',
ssets
                        data: [2, 4, 6, 1, 3, 2, 1],
ssets
                        coordinateSystem: 'polar',
ssets
                        name: 'B',
ssets
                        stack: 'a',
ssets
                        emphasis: {
ssets
                          focus: 'series'
ssets
                        }
ssets
                      },
ssets
                      {
ssets
                        type: 'bar',
ssets
                        data: [1, 2, 3, 4, 1, 2, 5],
ssets
                        coordinateSystem: 'polar',
ssets
                        name: 'C',
ssets
                        stack: 'a',
ssets
                        emphasis: {
ssets
                          focus: 'series'
ssets
                        }
ssets
                      }
ssets
                    ],
ssets
                    legend: {
ssets
                      show: true,
ssets
                      data: ['A', 'B', 'C']
ssets
                    }
ssets
                  });
ssets
                });
ssets
              </script>
ssets
              <!-- End Polar Area Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Candle Stick Chart</h5>
ssets

ssets
              <!-- Candle Stick Chart -->
ssets
              <div id="candleStickChart" style="min-height: 400px;" class="echart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  echarts.init(document.querySelector("#candleStickChart")).setOption({
ssets
                    xAxis: {
ssets
                      data: ['2017-10-24', '2017-10-25', '2017-10-26', '2017-10-27']
ssets
                    },
ssets
                    yAxis: {},
ssets
                    series: [{
ssets
                      type: 'candlestick',
ssets
                      data: [
ssets
                        [20, 34, 10, 38],
ssets
                        [40, 35, 30, 50],
ssets
                        [31, 38, 33, 44],
ssets
                        [38, 15, 5, 42]
ssets
                      ]
ssets
                    }]
ssets
                  });
ssets
                });
ssets
              </script>
ssets
              <!-- End Candle Stick Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Bubble Chart</h5>
ssets

ssets
              <!-- Bubble Chart -->
ssets
              <div id="bubbleChart" style="min-height: 400px;" class="echart"></div>
ssets

ssets
              <script>
ssets
                document.addEventListener("DOMContentLoaded", () => {
ssets
                  const data = [
ssets
                    [
ssets
                      [28604, 77, 17096869, 'Australia', 1990],
ssets
                      [31163, 77.4, 27662440, 'Canada', 1990],
ssets
                      [1516, 68, 1154605773, 'China', 1990],
ssets
                      [13670, 74.7, 10582082, 'Cuba', 1990],
ssets
                      [28599, 75, 4986705, 'Finland', 1990],
ssets
                      [29476, 77.1, 56943299, 'France', 1990],
ssets
                      [31476, 75.4, 78958237, 'Germany', 1990],
ssets
                      [28666, 78.1, 254830, 'Iceland', 1990],
ssets
                      [1777, 57.7, 870601776, 'India', 1990],
ssets
                      [29550, 79.1, 122249285, 'Japan', 1990],
ssets
                      [2076, 67.9, 20194354, 'North Korea', 1990],
ssets
                      [12087, 72, 42972254, 'South Korea', 1990],
ssets
                      [24021, 75.4, 3397534, 'New Zealand', 1990],
ssets
                      [43296, 76.8, 4240375, 'Norway', 1990],
ssets
                      [10088, 70.8, 38195258, 'Poland', 1990],
ssets
                      [19349, 69.6, 147568552, 'Russia', 1990],
ssets
                      [10670, 67.3, 53994605, 'Turkey', 1990],
ssets
                      [26424, 75.7, 57110117, 'United Kingdom', 1990],
ssets
                      [37062, 75.4, 252847810, 'United States', 1990]
ssets
                    ],
ssets
                    [
ssets
                      [44056, 81.8, 23968973, 'Australia', 2015],
ssets
                      [43294, 81.7, 35939927, 'Canada', 2015],
ssets
                      [13334, 76.9, 1376048943, 'China', 2015],
ssets
                      [21291, 78.5, 11389562, 'Cuba', 2015],
ssets
                      [38923, 80.8, 5503457, 'Finland', 2015],
ssets
                      [37599, 81.9, 64395345, 'France', 2015],
ssets
                      [44053, 81.1, 80688545, 'Germany', 2015],
ssets
                      [42182, 82.8, 329425, 'Iceland', 2015],
ssets
                      [5903, 66.8, 1311050527, 'India', 2015],
ssets
                      [36162, 83.5, 126573481, 'Japan', 2015],
ssets
                      [1390, 71.4, 25155317, 'North Korea', 2015],
ssets
                      [34644, 80.7, 50293439, 'South Korea', 2015],
ssets
                      [34186, 80.6, 4528526, 'New Zealand', 2015],
ssets
                      [64304, 81.6, 5210967, 'Norway', 2015],
ssets
                      [24787, 77.3, 38611794, 'Poland', 2015],
ssets
                      [23038, 73.13, 143456918, 'Russia', 2015],
ssets
                      [19360, 76.5, 78665830, 'Turkey', 2015],
ssets
                      [38225, 81.4, 64715810, 'United Kingdom', 2015],
ssets
                      [53354, 79.1, 321773631, 'United States', 2015]
ssets
                    ]
ssets
                  ];
ssets
                  echarts.init(document.querySelector("#bubbleChart")).setOption({
ssets
                    legend: {
ssets
                      right: '10%',
ssets
                      top: '3%',
ssets
                      data: ['1990', '2015']
ssets
                    },
ssets
                    grid: {
ssets
                      left: '8%',
ssets
                      top: '10%'
ssets
                    },
ssets
                    xAxis: {
ssets
                      splitLine: {
ssets
                        lineStyle: {
ssets
                          type: 'dashed'
ssets
                        }
ssets
                      }
ssets
                    },
ssets
                    yAxis: {
ssets
                      splitLine: {
ssets
                        lineStyle: {
ssets
                          type: 'dashed'
ssets
                        }
ssets
                      },
ssets
                      scale: true
ssets
                    },
ssets
                    series: [{
ssets
                        name: '1990',
ssets
                        data: data[0],
ssets
                        type: 'scatter',
ssets
                        symbolSize: function(data) {
ssets
                          return Math.sqrt(data[2]) / 5e2;
ssets
                        },
ssets
                        emphasis: {
ssets
                          focus: 'series',
ssets
                          label: {
ssets
                            show: true,
ssets
                            formatter: function(param) {
ssets
                              return param.data[3];
ssets
                            },
ssets
                            position: 'top'
ssets
                          }
ssets
                        },
ssets
                        itemStyle: {
ssets
                          color: 'rgb(251, 118, 123)'
ssets
                        }
ssets
                      },
ssets
                      {
ssets
                        name: '2015',
ssets
                        data: data[1],
ssets
                        type: 'scatter',
ssets
                        symbolSize: function(data) {
ssets
                          return Math.sqrt(data[2]) / 5e2;
ssets
                        },
ssets
                        emphasis: {
ssets
                          focus: 'series',
ssets
                          label: {
ssets
                            show: true,
ssets
                            formatter: function(param) {
ssets
                              return param.data[3];
ssets
                            },
ssets
                            position: 'top'
ssets
                          }
ssets
                        },
ssets
                        itemStyle: {
ssets
                          color: 'rgb(129, 227, 238)'
ssets
                        }
ssets
                      }
ssets
                    ]
ssets
                  });
ssets
                });
ssets
              </script>
ssets
              <!-- End Bubble Chart -->
ssets

ssets
            </div>
ssets
          </div>
ssets
        </div>
ssets

ssets
      </div>
ssets
    </section>
ssets

ssets
  </main><!-- End #main -->
ssets

ssets
  <!-- ======= Footer ======= -->
ssets
  <footer id="footer" class="footer">
ssets
    <div class="copyright">
ssets
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
ssets
    </div>
ssets
    <div class="credits">
ssets
      <!-- All the links in the footer should remain intact. -->
ssets
      <!-- You can delete the links only if you purchased the pro version. -->
ssets
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
ssets
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
ssets
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
ssets
    </div>
ssets
  </footer><!-- End Footer -->
ssets

ssets
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
ssets

ssets
  <!-- Vendor JS Files -->
ssets
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
ssets
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
ssets
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
ssets
  <script src="assets/vendor/echarts/echarts.min.js"></script>
ssets
  <script src="assets/vendor/quill/quill.min.js"></script>
ssets
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
ssets
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
ssets
  <script src="assets/vendor/php-email-form/validate.js"></script>
ssets

ssets
  <!-- Template Main JS File -->
ssets
  <script src="assets/js/main.js"></script>
ssets

ssets
</body>
ssets

ssets
</html>
ssets
