<!DOCTYPE html>
ssets
<html lang="en">
ssets

ssets
<head>
ssets
  <meta charset="utf-8">
ssets
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
ssets

ssets
  <title>Components / Carousel - NiceAdmin Bootstrap Template</title>
ssets
  <meta content="" name="description">
ssets
  <meta content="" name="keywords">
ssets

ssets
  <!-- Favicons -->
ssets
  <link href="assets/img/favicon.png" rel="icon">
ssets
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
ssets

ssets
  <!-- Google Fonts -->
ssets
  <link href="https://fonts.gstatic.com" rel="preconnect">
ssets
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
ssets

ssets
  <!-- Vendor CSS Files -->
ssets
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
ssets
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
ssets
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
ssets
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
ssets
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
ssets
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
ssets
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
ssets

ssets
  <!-- Template Main CSS File -->
ssets
  <link href="assets/css/style.css" rel="stylesheet">
ssets

ssets
  <!-- =======================================================
ssets
  * Template Name: NiceAdmin
ssets
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
ssets
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
ssets
  * Author: BootstrapMade.com
ssets
  * License: https://bootstrapmade.com/license/
ssets
  ======================================================== -->
ssets
</head>
ssets

ssets
<body>
ssets

ssets
  <!-- ======= Header ======= -->
ssets
  <header id="header" class="header fixed-top d-flex align-items-center">
ssets

ssets
    <div class="d-flex align-items-center justify-content-between">
ssets
      <a href="index.html" class="logo d-flex align-items-center">
ssets
        <img src="assets/img/logo.png" alt="">
ssets
        <span class="d-none d-lg-block">NiceAdmin</span>
ssets
      </a>
ssets
      <i class="bi bi-list toggle-sidebar-btn"></i>
ssets
    </div><!-- End Logo -->
ssets

ssets
    <div class="search-bar">
ssets
      <form class="search-form d-flex align-items-center" method="POST" action="#">
ssets
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
ssets
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
ssets
      </form>
ssets
    </div><!-- End Search Bar -->
ssets

ssets
    <nav class="header-nav ms-auto">
ssets
      <ul class="d-flex align-items-center">
ssets

ssets
        <li class="nav-item d-block d-lg-none">
ssets
          <a class="nav-link nav-icon search-bar-toggle " href="#">
ssets
            <i class="bi bi-search"></i>
ssets
          </a>
ssets
        </li><!-- End Search Icon-->
ssets

ssets
        <li class="nav-item dropdown">
ssets

ssets
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
ssets
            <i class="bi bi-bell"></i>
ssets
            <span class="badge bg-primary badge-number">4</span>
ssets
          </a><!-- End Notification Icon -->
ssets

ssets
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
ssets
            <li class="dropdown-header">
ssets
              You have 4 new notifications
ssets
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="notification-item">
ssets
              <i class="bi bi-exclamation-circle text-warning"></i>
ssets
              <div>
ssets
                <h4>Lorem Ipsum</h4>
ssets
                <p>Quae dolorem earum veritatis oditseno</p>
ssets
                <p>30 min. ago</p>
ssets
              </div>
ssets
            </li>
ssets

ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="notification-item">
ssets
              <i class="bi bi-x-circle text-danger"></i>
ssets
              <div>
ssets
                <h4>Atque rerum nesciunt</h4>
ssets
                <p>Quae dolorem earum veritatis oditseno</p>
ssets
                <p>1 hr. ago</p>
ssets
              </div>
ssets
            </li>
ssets

ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="notification-item">
ssets
              <i class="bi bi-check-circle text-success"></i>
ssets
              <div>
ssets
                <h4>Sit rerum fuga</h4>
ssets
                <p>Quae dolorem earum veritatis oditseno</p>
ssets
                <p>2 hrs. ago</p>
ssets
              </div>
ssets
            </li>
ssets

ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="notification-item">
ssets
              <i class="bi bi-info-circle text-primary"></i>
ssets
              <div>
ssets
                <h4>Dicta reprehenderit</h4>
ssets
                <p>Quae dolorem earum veritatis oditseno</p>
ssets
                <p>4 hrs. ago</p>
ssets
              </div>
ssets
            </li>
ssets

ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets
            <li class="dropdown-footer">
ssets
              <a href="#">Show all notifications</a>
ssets
            </li>
ssets

ssets
          </ul><!-- End Notification Dropdown Items -->
ssets

ssets
        </li><!-- End Notification Nav -->
ssets

ssets
        <li class="nav-item dropdown">
ssets

ssets
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
ssets
            <i class="bi bi-chat-left-text"></i>
ssets
            <span class="badge bg-success badge-number">3</span>
ssets
          </a><!-- End Messages Icon -->
ssets

ssets
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
ssets
            <li class="dropdown-header">
ssets
              You have 3 new messages
ssets
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="message-item">
ssets
              <a href="#">
ssets
                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
ssets
                <div>
ssets
                  <h4>Maria Hudson</h4>
ssets
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
ssets
                  <p>4 hrs. ago</p>
ssets
                </div>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="message-item">
ssets
              <a href="#">
ssets
                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
ssets
                <div>
ssets
                  <h4>Anna Nelson</h4>
ssets
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
ssets
                  <p>6 hrs. ago</p>
ssets
                </div>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="message-item">
ssets
              <a href="#">
ssets
                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
ssets
                <div>
ssets
                  <h4>David Muldon</h4>
ssets
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
ssets
                  <p>8 hrs. ago</p>
ssets
                </div>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li class="dropdown-footer">
ssets
              <a href="#">Show all messages</a>
ssets
            </li>
ssets

ssets
          </ul><!-- End Messages Dropdown Items -->
ssets

ssets
        </li><!-- End Messages Nav -->
ssets

ssets
        <li class="nav-item dropdown pe-3">
ssets

ssets
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
ssets
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
ssets
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
ssets
          </a><!-- End Profile Iamge Icon -->
ssets

ssets
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
ssets
            <li class="dropdown-header">
ssets
              <h6>Kevin Anderson</h6>
ssets
              <span>Web Designer</span>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li>
ssets
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
ssets
                <i class="bi bi-person"></i>
ssets
                <span>My Profile</span>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li>
ssets
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
ssets
                <i class="bi bi-gear"></i>
ssets
                <span>Account Settings</span>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li>
ssets
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
ssets
                <i class="bi bi-question-circle"></i>
ssets
                <span>Need Help?</span>
ssets
              </a>
ssets
            </li>
ssets
            <li>
ssets
              <hr class="dropdown-divider">
ssets
            </li>
ssets

ssets
            <li>
ssets
              <a class="dropdown-item d-flex align-items-center" href="#">
ssets
                <i class="bi bi-box-arrow-right"></i>
ssets
                <span>Sign Out</span>
ssets
              </a>
ssets
            </li>
ssets

ssets
          </ul><!-- End Profile Dropdown Items -->
ssets
        </li><!-- End Profile Nav -->
ssets

ssets
      </ul>
ssets
    </nav><!-- End Icons Navigation -->
ssets

ssets
  </header><!-- End Header -->
ssets

ssets
  <!-- ======= Sidebar ======= -->
ssets
  <aside id="sidebar" class="sidebar">
ssets

ssets
    <ul class="sidebar-nav" id="sidebar-nav">
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="index.html">
ssets
          <i class="bi bi-grid"></i>
ssets
          <span>Dashboard</span>
ssets
        </a>
ssets
      </li><!-- End Dashboard Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="components-alerts.html">
ssets
              <i class="bi bi-circle"></i><span>Alerts</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-accordion.html">
ssets
              <i class="bi bi-circle"></i><span>Accordion</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-badges.html">
ssets
              <i class="bi bi-circle"></i><span>Badges</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-breadcrumbs.html">
ssets
              <i class="bi bi-circle"></i><span>Breadcrumbs</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-buttons.html">
ssets
              <i class="bi bi-circle"></i><span>Buttons</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-cards.html">
ssets
              <i class="bi bi-circle"></i><span>Cards</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-carousel.html" class="active">
ssets
              <i class="bi bi-circle"></i><span>Carousel</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-list-group.html">
ssets
              <i class="bi bi-circle"></i><span>List group</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-modal.html">
ssets
              <i class="bi bi-circle"></i><span>Modal</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-tabs.html">
ssets
              <i class="bi bi-circle"></i><span>Tabs</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-pagination.html">
ssets
              <i class="bi bi-circle"></i><span>Pagination</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-progress.html">
ssets
              <i class="bi bi-circle"></i><span>Progress</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-spinners.html">
ssets
              <i class="bi bi-circle"></i><span>Spinners</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="components-tooltips.html">
ssets
              <i class="bi bi-circle"></i><span>Tooltips</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Components Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="forms-elements.html">
ssets
              <i class="bi bi-circle"></i><span>Form Elements</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="forms-layouts.html">
ssets
              <i class="bi bi-circle"></i><span>Form Layouts</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="forms-editors.html">
ssets
              <i class="bi bi-circle"></i><span>Form Editors</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="forms-validation.html">
ssets
              <i class="bi bi-circle"></i><span>Form Validation</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Forms Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="tables-general.html">
ssets
              <i class="bi bi-circle"></i><span>General Tables</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="tables-data.html">
ssets
              <i class="bi bi-circle"></i><span>Data Tables</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Tables Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="charts-chartjs.html">
ssets
              <i class="bi bi-circle"></i><span>Chart.js</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="charts-apexcharts.html">
ssets
              <i class="bi bi-circle"></i><span>ApexCharts</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="charts-echarts.html">
ssets
              <i class="bi bi-circle"></i><span>ECharts</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Charts Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
ssets
          <i class="bi bi-gem"></i><span>Icons</span><i class="bi bi-chevron-down ms-auto"></i>
ssets
        </a>
ssets
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
ssets
          <li>
ssets
            <a href="icons-bootstrap.html">
ssets
              <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="icons-remix.html">
ssets
              <i class="bi bi-circle"></i><span>Remix Icons</span>
ssets
            </a>
ssets
          </li>
ssets
          <li>
ssets
            <a href="icons-boxicons.html">
ssets
              <i class="bi bi-circle"></i><span>Boxicons</span>
ssets
            </a>
ssets
          </li>
ssets
        </ul>
ssets
      </li><!-- End Icons Nav -->
ssets

ssets
      <li class="nav-heading">Pages</li>
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="users-profile.html">
ssets
          <i class="bi bi-person"></i>
ssets
          <span>Profile</span>
ssets
        </a>
ssets
      </li><!-- End Profile Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-faq.html">
ssets
          <i class="bi bi-question-circle"></i>
ssets
          <span>F.A.Q</span>
ssets
        </a>
ssets
      </li><!-- End F.A.Q Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-contact.html">
ssets
          <i class="bi bi-envelope"></i>
ssets
          <span>Contact</span>
ssets
        </a>
ssets
      </li><!-- End Contact Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-register.html">
ssets
          <i class="bi bi-card-list"></i>
ssets
          <span>Register</span>
ssets
        </a>
ssets
      </li><!-- End Register Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-login.html">
ssets
          <i class="bi bi-box-arrow-in-right"></i>
ssets
          <span>Login</span>
ssets
        </a>
ssets
      </li><!-- End Login Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-error-404.html">
ssets
          <i class="bi bi-dash-circle"></i>
ssets
          <span>Error 404</span>
ssets
        </a>
ssets
      </li><!-- End Error 404 Page Nav -->
ssets

ssets
      <li class="nav-item">
ssets
        <a class="nav-link collapsed" href="pages-blank.html">
ssets
          <i class="bi bi-file-earmark"></i>
ssets
          <span>Blank</span>
ssets
        </a>
ssets
      </li><!-- End Blank Page Nav -->
ssets

ssets
    </ul>
ssets

ssets
  </aside><!-- End Sidebar-->
ssets

ssets
  <main id="main" class="main">
ssets

ssets
    <div class="pagetitle">
ssets
      <h1>Carousel</h1>
ssets
      <nav>
ssets
        <ol class="breadcrumb">
ssets
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
ssets
          <li class="breadcrumb-item">Components</li>
ssets
          <li class="breadcrumb-item active">Carousel</li>
ssets
        </ol>
ssets
      </nav>
ssets
    </div><!-- End Page Title -->
ssets

ssets
    <section class="section">
ssets
      <div class="row">
ssets
        <div class="col-lg-6">
ssets

ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Slides only</h5>
ssets

ssets
              <!-- Slides only carousel -->
ssets
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
ssets
                <div class="carousel-inner">
ssets
                  <div class="carousel-item active">
ssets
                    <img src="assets/img/slides-1.jpg" class="d-block w-100" alt="...">
ssets
                  </div>
ssets
                  <div class="carousel-item">
ssets
                    <img src="assets/img/slides-2.jpg" class="d-block w-100" alt="...">
ssets
                  </div>
ssets
                  <div class="carousel-item">
ssets
                    <img src="assets/img/slides-3.jpg" class="d-block w-100" alt="...">
ssets
                  </div>
ssets
                </div>
ssets
              </div><!-- End Slides only carousel-->
ssets

ssets
            </div>
ssets
          </div>
ssets

ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">With indicators</h5>
ssets

ssets
              <!-- Slides with indicators -->
ssets
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
ssets
                <div class="carousel-indicators">
ssets
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
ssets
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
ssets
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
ssets
                </div>
ssets
                <div class="carousel-inner">
ssets
                  <div class="carousel-item active">
ssets
                    <img src="assets/img/slides-1.jpg" class="d-block w-100" alt="...">
ssets
                  </div>
ssets
                  <div class="carousel-item">
ssets
                    <img src="assets/img/slides-2.jpg" class="d-block w-100" alt="...">
ssets
                  </div>
ssets
                  <div class="carousel-item">
ssets
                    <img src="assets/img/slides-3.jpg" class="d-block w-100" alt="...">
ssets
                  </div>
ssets
                </div>
ssets

ssets
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
ssets
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
ssets
                  <span class="visually-hidden">Previous</span>
ssets
                </button>
ssets
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
ssets
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
ssets
                  <span class="visually-hidden">Next</span>
ssets
                </button>
ssets

ssets
              </div><!-- End Slides with indicators -->
ssets

ssets
            </div>
ssets
          </div>
ssets

ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">Carousel with fade transition</h5>
ssets
              <p>Add <code>.carousel-fade</code> to your carousel to animate slides with a fade transition instead of a slide.</p>
ssets

ssets
              <!-- Slides with fade transition -->
ssets
              <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
ssets
                <div class="carousel-inner">
ssets
                  <div class="carousel-item active">
ssets
                    <img src="assets/img/slides-1.jpg" class="d-block w-100" alt="...">
ssets
                  </div>
ssets
                  <div class="carousel-item">
ssets
                    <img src="assets/img/slides-2.jpg" class="d-block w-100" alt="...">
ssets
                  </div>
ssets
                  <div class="carousel-item">
ssets
                    <img src="assets/img/slides-3.jpg" class="d-block w-100" alt="...">
ssets
                  </div>
ssets
                </div>
ssets

ssets
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
ssets
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
ssets
                  <span class="visually-hidden">Previous</span>
ssets
                </button>
ssets
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
ssets
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
ssets
                  <span class="visually-hidden">Next</span>
ssets
                </button>
ssets

ssets
              </div><!-- End Slides with fade transition -->
ssets

ssets
            </div>
ssets
          </div>
ssets

ssets
        </div>
ssets

ssets
        <div class="col-lg-6">
ssets

ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">With controls</h5>
ssets

ssets
              <!-- Slides with controls -->
ssets
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
ssets
                <div class="carousel-inner">
ssets
                  <div class="carousel-item active">
ssets
                    <img src="assets/img/slides-1.jpg" class="d-block w-100" alt="...">
ssets
                  </div>
ssets
                  <div class="carousel-item">
ssets
                    <img src="assets/img/slides-2.jpg" class="d-block w-100" alt="...">
ssets
                  </div>
ssets
                  <div class="carousel-item">
ssets
                    <img src="assets/img/slides-3.jpg" class="d-block w-100" alt="...">
ssets
                  </div>
ssets
                </div>
ssets

ssets
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
ssets
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
ssets
                  <span class="visually-hidden">Previous</span>
ssets
                </button>
ssets
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
ssets
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
ssets
                  <span class="visually-hidden">Next</span>
ssets
                </button>
ssets

ssets
              </div><!-- End Slides with controls -->
ssets

ssets
            </div>
ssets
          </div>
ssets

ssets
          <div class="card">
ssets
            <div class="card-body">
ssets
              <h5 class="card-title">With captions</h5>
ssets

ssets
              <!-- Slides with captions -->
ssets
              <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
ssets
                <div class="carousel-indicators">
ssets
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
ssets
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
ssets
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
ssets
                </div>
ssets
                <div class="carousel-inner">
ssets
                  <div class="carousel-item active">
ssets
                    <img src="assets/img/slides-1.jpg" class="d-block w-100" alt="...">
ssets
                    <div class="carousel-caption d-none d-md-block">
ssets
                      <h5>First slide label</h5>
ssets
                      <p>Some representative placeholder content for the first slide.</p>
ssets
                    </div>
ssets
                  </div>
ssets
                  <div class="carousel-item">
ssets
                    <img src="assets/img/slides-2.jpg" class="d-block w-100" alt="...">
ssets
                    <div class="carousel-caption d-none d-md-block">
ssets
                      <h5>Second slide label</h5>
ssets
                      <p>Some representative placeholder content for the second slide.</p>
ssets
                    </div>
ssets
                  </div>
ssets
                  <div class="carousel-item">
ssets
                    <img src="assets/img/slides-3.jpg" class="d-block w-100" alt="...">
ssets
                    <div class="carousel-caption d-none d-md-block">
ssets
                      <h5>Third slide label</h5>
ssets
                      <p>Some representative placeholder content for the third slide.</p>
ssets
                    </div>
ssets
                  </div>
ssets
                </div>
ssets

ssets
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
ssets
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
ssets
                  <span class="visually-hidden">Previous</span>
ssets
                </button>
ssets
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
ssets
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
ssets
                  <span class="visually-hidden">Next</span>
ssets
                </button>
ssets

ssets
              </div><!-- End Slides with captions -->
ssets

ssets
            </div>
ssets
          </div>
ssets

ssets
        </div>
ssets
      </div>
ssets
    </section>
ssets

ssets
  </main><!-- End #main -->
ssets

ssets
  <!-- ======= Footer ======= -->
ssets
  <footer id="footer" class="footer">
ssets
    <div class="copyright">
ssets
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
ssets
    </div>
ssets
    <div class="credits">
ssets
      <!-- All the links in the footer should remain intact. -->
ssets
      <!-- You can delete the links only if you purchased the pro version. -->
ssets
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
ssets
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
ssets
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
ssets
    </div>
ssets
  </footer><!-- End Footer -->
ssets

ssets
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
ssets

ssets
  <!-- Vendor JS Files -->
ssets
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
ssets
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
ssets
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
ssets
  <script src="assets/vendor/echarts/echarts.min.js"></script>
ssets
  <script src="assets/vendor/quill/quill.min.js"></script>
ssets
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
ssets
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
ssets
  <script src="assets/vendor/php-email-form/validate.js"></script>
ssets

ssets
  <!-- Template Main JS File -->
ssets
  <script src="assets/js/main.js"></script>
ssets

ssets
</body>
ssets

ssets
</html>
ssets
