{% extends "base.html" %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Pesquisa de interações do banco de dados</h5>
            <form class="row g-3" method='post'>
                {% csrf_token %}
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text"
                               maxlength="5"
                               name="pdb"
                               class="form-control"
                               id="id_pdb"
                               placeholder="Proteína">
                        <label for="id_pdb">Proteína</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="number"
                               name="pocket"
                               class="form-control"
                               id="id_pocket"
                               placeholder="Pocket">
                        <label for="id_pocket">Pocket</label>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                    <button type="reset" class="btn btn-secondary">Limpar</button>
                </div>
            </form>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Consulta banco PLIP</h5>
                        <p>Complexos X</p>
                        <!-- <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable -->
                        <!-- Table with stripped rows -->
                        <div class="table-responsive">
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">Proteína</th>
                                        <th scope="col">PDB</th>
                                        <th scope="col">Fármaco</th>
                                        <th scope="col">Pocket</th>
                                        <th scope="col">Análogo</th>
                                        <th scope="col">Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for complex in complexes|slice:":20" %}
                                        <tr>
                                            <td>{{ protein }}</td>
                                            <td>{{ complex.id_pdb }}</td>
                                            {% if farmaco %}
                                                <td>{{ farmaco }}</td>
                                            {% else %}
                                                <td>{{ complex.nm_farmaco }}</td>
                                            {% endif %}
                                            <td>{{ complex.id_pocket }}</td>
                                            <td>{{ complex.nm_analogo }}</td>
                                            <td>{{ complex.vl_score }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
