
{% extends "base.html" %}

{% block content %}
    <h1>Pesquisa de interações do banco de dados</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <input type="submit" value="OK">
        </div>
    </form>

    <table>
        <tr>
          <th>resnr</th>
          <th>reschain</th>
          <th>restype</th>
          <th>type</th>
          <th>protis</th>
          <th>quantidade</th>
          <th>min_dist</th>
          <th>max_dist</th>
          <th>avg_dist</th>
          <th>sd_dist</th>
          <th>x</th>
          <th>y</th>
          <th>z</th>
          <th>raio</th>
        </tr>
        {% for interaction in interactions %}
            <tr>
                <td>{{ interaction.resnr }}</td>
                <td>{{ interaction.reschain }}</td>
                <td>{{ interaction.restype }}</td>
                <td>{{ interaction.type }}</td>
                <td>{{ interaction.protis }}</td>
                <td>{{ interaction.quantidade }}</td>
                <td>{{ interaction.min_dist }}</td>
                <td>{{ interaction.max_dist }}</td>
                <td>{{ interaction.avg_dist }}</td>
                <td>{{ interaction.sd_dist }}</td>
                <td>{{ interaction.x }}</td>
                <td>{{ interaction.y }}</td>
                <td>{{ interaction.z }}</td>
                <td>{{ interaction.raio }}</td>
            </tr>
        {% endfor %}
    </table>
    
{% endblock content %}
